<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/style.css">
    <link defer rel="stylesheet" type="text/css" media="screen" href="~/assets/css/animate.css">
    <script src="~/assets/js/perfect-scrollbar.min.js"></script>
    <script defer src="~/assets/js/popper.min.js"></script>
    <script defer src="~/assets/js/tippy-bundle.umd.min.js"></script>
    <script defer src="~/assets/js/sweetalert.min.js"></script>
</head>
<body x-data="main" class="relative overflow-x-hidden font-nunito text-sm font-normal antialiased" :class="[ $store.app.sidebar ? 'toggle-sidebar' : '', $store.app.theme === 'dark' || $store.app.isDarkMode ?  'dark' : '', $store.app.menu, $store.app.layout,$store.app.rtlClass]">
    <div class="main-container min-h-screen text-black dark:text-white-dark" :class="[$store.app.navbar]">
        <!-- Sidebar section -->
        <!-- Header section -->
        <div class="main-content flex min-h-screen flex-col">
            @RenderBody() <!-- Nội dung của View sẽ được chèn vào đây -->
            <div class="mt-auto p-6 pt-0 text-center dark:text-white-dark ltr:sm:text-left rtl:sm:text-right">
                © <span id="footer-year">@DateTime.Now.Year</span>. StarCode Kh All rights reserved.
            </div>
        </div>
    </div>
    <script src="~/assets/js/alpine-collaspe.min.js"></script>
    <script src="~/assets/js/alpine-persist.min.js"></script>
    <script defer src="~/assets/js/alpine-ui.min.js"></script>
    <script defer src="~/assets/js/alpine-focus.min.js"></script>
    <script defer src="~/assets/js/alpine.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script defer src="~/assets/js/apexcharts.js"></script>
</body>
</html>